.register-btn{
    text-align: center;
    padding: 10px 0px;
    p {
    background-color: #242453;
    width: 175px;
    color: white;
    text-decoration: unset;
    border-radius: 25px 25px;
    padding: 8px;
    margin: auto;
    font-size: 18px;
    }
}