@font-face {
    font-family: 'Sunshine Formula';
    src: url('../Fonts/SunshineFormula-Regular.woff2') format('woff2'),
        url('../Fonts/SunshineFormula-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CocogoosePro';
    src: url('/Fonts/CocogoosePro-Regular.woff2') format('woff2'),
        url('/Fonts/CocogoosePro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

