.container {
    width: 900px;
    background-color: $main-color;
    margin: auto;
    text-align: center;
    color: $white;
    @media(max-width:920px) {
        width: 100%;
    }
    &__header{
    &--text{
        text-transform: uppercase;
        font-size: 75px;
        color: $white;
        text-align: center;
        padding-top: 70px;
        letter-spacing: 5px;
            @media (max-width:769px) {
            font-size: 10vw;
            }
    }
    &--date {
        font-family: 'CocogoosePro';
        line-height: 18px;
        font-size: 40px;
        color: $white;
        text-align: center;
        padding-top: 70px;
        letter-spacing: 5px;
        @media (max-width:769px) {
            font-size: 7vw;
            }
    }
}
    &__content{
        &--register{
            font-size: 35px;
            color: white;
            margin-top: 80px;
            span {
                color: $yellow;
            }
        }
        &__body{
            font-weight: 100;
            font-family: 'CocogoosePro';
            font-size: 14px;
            &--header{
            margin-top: 20px;
            }
            &--text {
            line-height: 18px;
            &:nth-child(2){
                margin-top: 20px;
            }
            &:last-child {
                margin-top: 20px;
            }
            }
               &__table {
                width: 50%;
                margin: auto;
                 font-family: 'CocogoosePro' !important;
                 @media (max-width:920px) {
                     width: 70%;
                 }
                 @media (max-width:599px) {
                     width: 90%;
                     font-size: 14px;
                 }
                tr td {
                    text-align: left;
                  
                }
                &--content {
                   &--text {
                       font-size: 12px;
                       margin-top: 15px;
                   }
                }
            }
        }
        &--register-btn{
            display: block;
            background-color: white;
            color: $main-color;
            border-radius: 35px 35px;
            width: 250px;
            padding: 20px;
            font-size: 35px;
            margin: 30px auto ;
            text-decoration: none;
        }
    }
    &__footer {
        
        font-family: 'CocogoosePro';
        font-size: 14px;
        text-align: left;
        padding: 25px 50px;
         @media (max-width:769px) {
            padding: 25px 25px;
            }
        &--header{
font-size: 26px;
  @media (max-width:769px) {
            font-size: 5vw;
            }
        }
        &--text{
            margin-top: 20px;
             line-height: 18px;
        }
    }
}