@import "./colors";
@import "./font";
@import "./scroll-bar";
@import "./nav";
@import "./slider";
@import "./buttons";
@import "./countdown";
@import "./about-intro";
@import "./race";
@import "./route";
@import "./faqs";
@import "./partners";
@import "./partners-slider";
@import "./registration";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
       font-family: 'Sunshine Formula';
}



